<div class="container">
    <div class="container-time">
        <h2 class="heading">Time open</h2>
        <h3 class="heading-days">Monday-Friday</h3>
        <p>1pm-4pm(Reading Class)</p>

        <h3 class="heading-days">Saturday and Sunday</h3>
        <p>10pm-1pm (Study time)</p>
        <hr>
        <h4 class="heading-phone">Call us:0000000</h4>
    </div>

    <div class="container-form">
        <form action="">
            <h2 class="heading heading-lightblue">Reservation Online</h2>

            <div class="form-field">
                <p>Your Name</p>
                <input type="text" placeholder="Your Name">
            </div>
            <div class="form-field">
                <p>Your Email</p>
                <input type="email" placeholder="example@gmail.com">
            </div>
            <div class="form-field">
                <p>Your Surname</p>
                <input type="text" placeholder="Surname">
            </div>
            
            <div class="form-field">
                <p>Date</p>
                <input type="date">
            </div>
            <div class="form-field">
                <p>Time</p>
                <input type="time">
            </div>
        
            <div class="form-field">
                <p>How many people</p>
                <select name="select" id="0">
                    <option value="1">1 person </option>
                    <option value="2">2 persons </option>
                    <option value="3">3 persons </option>
                    <option value="4">4 persons </option>
                    <option value="5">5 persons </option>
                </select>
            </div>
            <button class="btn">Submit</button>
        </form>
    
    </div>
    
<!-- 
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 150px; height: 75px;" *ngFor="let booking of bookings">
                <img [src]="booking.img" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-title">{{ booking.title }} </p>
                <small>Author: {{ booking.author }}</small> -->
                <!-- <h6>Author:Tina Payne Bryson,Ph.D</h6> -->
                <!-- <p class="card-text">{{ booking.description }} </p> -->

                <!-- <button class="btn-primary" >Book Now</button> -->
                <!-- </div>
            </div>
        </div>
    </div> -->
</div>
