*{
    box-sizing: border-box;
    /* padding: 10px; */
    margin: 10px;
}
.book1{
    border-radius: 50px;
    background-color: lightblue;
    border: 1px solid lightblue; 
}
.Gen{
    justify-content: center;
    text-decoration: underline;
}
.card-img-top{
    height:200px;
    width:150px;
    align-self:center;
}
.card{
    width:400px;
    height:500px;

}