<h3>Genres</h3>


<div class="Gen">
    <button class="book1" (click)="getAll">All</button>
    <button class="book1" (click)="getArt">Arts & Entertainment</button>
    <button class="book1" (click)="getBiographies">Biographies & memoirs</button>
    <button class="book1" (click)="getBusiness">Business & Investing</button>
    <button class="book1" (click)="getChildrensbook">Children's books</button>
    <button class="book1" (click)="getComics">Comics</button>
    <button class="book1" (click)="getComputers">Computers & technology</button>
    <button class="book1" (click)="getFiction">Fiction & literature</button>
    <button class="book1" (click)="getHealth">Health, mind and body</button>
    <button class="book1" (click)="getMystery">Mystery & thrillers</button>
    <button class="book1" (click)="getRomance">Romance</button>
    <button class="book1" (click)="getScience">Science fiction & fantasy</button>
</div>
<hr>
