<header class="bg-success shadow-sm">
    <div class="main-content container">
        <div class="navbar  ">
            
          
            
            <strong style="font-size:30px;color: white;">Phillipi learning Pool</strong>
            <div id="links">
                <a routerLink="/home">Home</a>
                <a routerLink="/dashboard">Dashboard</a>
                <a routerLink="/bookings">Bookings</a>
                
            </div>
           
            <div class="form">
                <input type="text"class="form" placeholder="search" [(ngModel)]="searchTerm" (keyup)="search($event)">
            </div>
            <button routerLink="" class="btn btn-primary">
                <i class="fas fa-open-book"></i>
                <div style="font-size:10px;" class="badge bg-danger">1</div>
            </button>
            <span  class="fas fa-search search-icon"> </span>
            <button class="signup" type="button">Sign up</button>
            <button class="login"type="button">login</button>
        </div>
